<div class="alert alert-danger" *ngIf="isErorr">connection cannot be established</div>
<div class="row">
  <div class="col-sm-3" *ngFor="let user of users">
    <div class="card">
      <div class="card-body">
        <img [src]="user.avatar_url" alt="{{user.login}}" class="img-fluid">
        <h1 class="text-center"><a [routerLink]="'/Users/'+user.login">{{user.login | uppercase}}</a></h1>
      </div>
      <div class="card-footer">
        {{user.type}}
      </div>
    </div>
  </div>
</div>
