<div class="card" [ngStyle]="getProduct.inStock?brSuc:brRed">
    <div class="card-header">
      <h4>{{getProduct.brand|uppercase}}
        <small>{{getProduct.model}}</small>
      </h4>
    </div>
    <div class="card-body">

      <p>Price :<strong>{{getProduct.price | currency}}</strong></p>
      <br/>
  
    </div>
    <div class="card-footer" [ngClass]="getProduct.inStock?success:danger">
      <span *ngIf="!getProduct.inStock">Exclude Out of Stock</span>
      <span *ngIf="getProduct.inStock">Is Stock</span>
    </div>
  </div>