<div class="card" [ngStyle]="getProduct.isStack?brSuc:brRed">
    <div class="card-header">
      <h4>{{getProduct.brand|uppercase}}
        <small>{{getProduct.model}}</small>
      </h4>
    </div>
    <div class="card-body">

      <p>Price :<strong>{{getProduct.price | currency}}</strong></p>
      <br/>
  
    </div>
    <div class="card-footer" [ngClass]="getProduct.isStack?success:danger">
      Exclude Out of Stock
      <input type="checkbox" [checked]="getProduct.isStack" [disabled]="true">
    </div>
  </div>
  