<!-- pipes: lowercase, uppercase, tiltecase, currency, date, json, async -->

<table class="table table-light">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | async; let odd= odd" [class]="odd?['bg-success']:['bg-primary']">
        <td>{{user.id | number}}</td>
        <td>{{user.name | uppercase}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.website}}</td>
      </tr>
    </tbody>
  </table>