  <h2 class="text-center text-primary text-uppercase">User Login</h2>
  <div *ngIf="failed" class="alert alert-danger">
     Wrong username or password
  </div>
  <div class="col-lg-8 offset-lg-2">
    <form novalidate #userlogin="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter email" required [(ngModel)]="_user.username" #username="ngModel" name="username">
        <span class="text-danger" *ngIf="username.dirty && username.errors?.required">required</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" minlength="5" placeholder="Password" required [(ngModel)]="_user.password" #password="ngModel" name="password">
        <span class="text-danger" *ngIf="password.dirty && password.errors?.required">required</span>
        <span class="text-danger" *ngIf="password.dirty && password.errors?.minlength">Min 5 char</span>
      </div>
      <button type="submit" [disabled]="userlogin.invalid" (click)="userLogin()" class="btn btn-primary">Login</button>
    </form>
  </div>