  <h2 class="text-center text-primary text-uppercase">User Login</h2>
  <div class="col-lg-8 offset-lg-2">
    <form novalidate #userlogin="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" placeholder="Enter email" required [(ngModel)]="_userlogin.uname" #uname="ngModel" name="uname">
        <span class="text-danger" *ngIf="uname.dirty && uname.errors?.required">required</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" minlength="5" placeholder="Password" required [(ngModel)]="_userlogin.pwd" #pwd="ngModel" name="pwd">
        <span class="text-danger" *ngIf="pwd.dirty && pwd.errors?.required">required</span>
        <span class="text-danger" *ngIf="pwd.dirty && pwd.errors?.minlength">Min 5 char</span>
      </div>
      <button type="submit" [disabled]="userlogin.invalid" (click)="userLogin()" class="btn btn-primary">Login</button>
    </form>
  </div>