/* You can add global styles to this file, and also import other style files */
.red {
  color: brown;
}
.card{margin-bottom: 10px;}
.success{
  background-color: rgb(0, 180, 0);
}

.danger{
  background-color: rgb(230, 46, 33);
}